{#
/**
 * @file alert.html.twig
 * Default theme implementation to present Alert data.
 *
 * This template is used when viewing Alert pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_alert()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('alert') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
