# Ignore binaries.
/bin

.idea/
docker-compose.yml
web/sites/*/settings.local.php
web/sites/*/files

# Allow composer to build everything
web/*
!web/modules/custom
!web/modules/features
!web/themes/custom
!web/profiles/custom
!web/sites
vendor
